{
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "bracketSameLine": false,
  "quoteProps": "consistent",
  "importOrder": ["^components/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
