@tailwind base;
@tailwind components;
@tailwind utilities;

/* Run this line to switch themes */
/* document.documentElement.classList.toggle('dark') */

@layer base {
  :root {
    /* Tailwind colors in rgb, so we have access to opacity. The vars allow us to see what tw color we are using by the var name */

    --amber-300: 252, 211, 77;
    --amber-400: 251, 191, 36;
    --yellow-600: #ca8a04;

    --white: 255, 255, 255;

    --black: 0, 0, 0;

    --gray-50: 249, 250, 251;
    --gray-100: 243, 244, 246;
    --gray-200: 229, 231, 235;
    --gray-300: 209, 213, 219;
    --gray-400: 156, 163, 175;
    --gray-500: 107, 114, 128;
    --gray-600: 75, 85, 99;
    --gray-700: 55, 65, 81;
    --gray-800: 31, 41, 55;
    --gray-900: 17, 24, 39;

    /* Defining vars that will adjust on light/dark as needed */
    --accent: var(--amber-400);
    --primary-foreground: var(--white);
    --background: var(--white);
    --background-dimmed1: var(--gray-100);
    --background-dimmed2: var(--gray-200);

    --background-border: var(--gray-300);
    --secondary: var(--white);
    --secondary-hover: var(--gray-50);
    --secondary-foreground: var(--gray-600);
    --secondary-border: var(--gray-300);
    --headerOpacity: 60%;
    --foreground: var(--gray-700);
    --foreground-dimmed1: var(--gray-600);
    --foreground-dimmed2: var(--gray-500);
    --foreground-dimmed3: var(--gray-400);
    --foreground-dimmed4: var(--gray-300);
    --foreground-dimmed5: var(--gray-200);
    --foreground-invalid: var(--red-500);
    --foreground-invalid-hover: var(--red-600);
    --field: rgb(var(--white), 90%);
    --foreground-gradient-top: rgb(var(--gray-700));
    --foreground-gradient-bottom: rgb(var(--gray-800));
    --scrollbarColor: rgb(var(--black), 15%);
    --repeating-magen: url('/src/assets/svg/repeating-magen-davd-light.svg');
    --accentBorderGradient: linear-gradient(
      to right,
      transparent 0%,
      theme('colors.purple.400/40%') 0%,
      theme('colors.sky.400/30%') 100%,
      transparent 100%
    );
    --textGap: 1.5rem;
  }

  .dark {
    --accent: var(--amber-300);
    --primary-foreground: var(--white);
    --background: var(--gray-900);
    --background-dimmed1: var(--gray-800);
    --background-dimmed2: var(--gray-700);

    --background-border: var(--gray-700);
    --secondary: var(--gray-800);
    --secondary-hover: var(--gray-700);
    --secondary-foreground: var(--white);
    --secondary-border: var(--gray-600);
    --headerOpacity: 40%;
    --foreground: var(--white);
    --foreground-dimmed1: var(--gray-300);
    --foreground-dimmed2: var(--gray-400);
    --foreground-dimmed3: var(--gray-500);
    --foreground-dimmed4: var(--gray-600);
    --foreground-dimmed5: var(--gray-700);
    --foreground-invalid-hover: var(--red-400);
    --field: rgb(var(--gray-800), 90%);
    --field-invalid: rgb(var(--red-900), 30%);
    --foreground-gradient-top: rgb(var(--white));
    --foreground-gradient-bottom: rgb(var(--gray-300));
    --scrollbarColor: rgb(var(--white), 10%);
    --repeating-magen: url('/src/assets/svg/repeating-magen-david.svg');
  }
}

ol {
  @apply flex list-decimal flex-col;
}

ul {
  @apply ml-2 flex list-disc flex-col sm:ml-3;
}

li {
  @apply mt-text-gap list-inside pl-1 lg:ml-3;
}

.text-shadow {
  text-shadow:
    2px 0 1px var(--shadowColor),
    0 2px 1px var(--shadowColor),
    -2px 0 1px var(--shadowColor),
    0 -2px 1px var(--shadowColor),
    -2px -2px 1px var(--shadowColor),
    -2px 2px 1px var(--shadowColor),
    2px -2px 1px var(--shadowColor),
    2px 2px 1px var(--shadowColor);
}

@media (min-width: 640px) {
  --accentBorderGradient: linear-gradient(
    to right,
    transparent 0%,
    theme('colors.purple.400/40%') 20%,
    theme('colors.sky.400/30%') 80%,
    transparent 100%
  );
}

html {
  font-feature-settings: 'cv11';

  @apply scroll-smooth bg-background font-inter text-foreground [--inner-spacing:1rem] [--spacing:1rem] sm:[--spacing:1.5rem] md:[--spacing:2rem] 2xl:[--spacing:3rem];
}

/* Scrollbar Styles */
* ::-webkit-scrollbar-track {
  @apply rounded-full bg-transparent py-0.5;
}
* ::-webkit-scrollbar {
  @apply h-2 w-2;
}
* ::-webkit-scrollbar-thumb {
  @apply rounded-full border bg-scrollbarColor py-0.5;
}

.mask-pattern {
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(0, 0, 0, 0.01) 50%,
    rgba(0, 0, 0, 0.15) 100%
  );
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(0, 0, 0, 0.01) 50%,
    rgba(0, 0, 0, 0.15) 100%
  );
}

.background-foreground-grad {
  @apply bg-gradient-to-b from-[var(--foreground-gradient-top)] via-[var(--foreground-gradient-top)] to-[var(--foreground-gradient-bottom)] bg-clip-text text-transparent;
}

.text-primary {
  font-weight: bold;
  background: -webkit-linear-gradient(var(--amber-300), var(--yellow-600));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@font-face {
  font-family: 'Lucida Grande';
  src: url('../src/assets/fonts/lucida-grande/Lucida\ Grande.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Secular One';
  src: url('../src/assets/fonts/secular-one/SecularOne-Regular.ttf')
    format('truetype');
}

/* Inter Fonts */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../src/assets/fonts/inter/Inter-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('../src/assets/fonts/inter/Inter-ThinItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../src/assets/fonts/inter/Inter-ExtraLight.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('../src/assets/fonts/inter/Inter-ExtraLightItalic.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../src/assets/fonts/inter/Inter-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('../src/assets/fonts/inter/Inter-LightItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../src/assets/fonts/inter/Inter-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../src/assets/fonts/inter/Inter-Italic.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../src/assets/fonts/inter/Inter-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../src/assets/fonts/inter/Inter-MediumItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../src/assets/fonts/inter/Inter-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('../src/assets/fonts/inter/Inter-SemiBoldItalic.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../src/assets/fonts/inter/Inter-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../src/assets/fonts/inter/Inter-BoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../src/assets/fonts/inter/Inter-ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('../src/assets/fonts/inter/Inter-ExtraBoldItalic.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../src/assets/fonts/inter/Inter-Black.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('../src/assets/fonts/inter/Inter-BlackItalic.woff2') format('woff2');
}
